extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Nigel Msipa

        p Full Stack JavaScript Developer


        .about-bio

          p Hello! I'm Nigel Msipa, I am currently a personal trainer, I stumbled upon web development and soon grew passion for it. I am excited about all the applications I will be able to build.
          
          


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li nigelmsipa@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/nigel-msipa-02875595/') LinkedIn
        a.btn-link(href='https://github.com/nigelmsipa') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back