extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Nigel Msipa

        p Full Stack JavaScript Developer


        .about-bio

          p Hi there! I'm Kaya Jackson, a full stack developer. Building websites has become the most rewarding yet difficult thing I've even done. I love working on projects, learning new things, and being challenged. It's so exciting! I was once inspired by a someone special to me to take on this new endeavor and I'm never looking back. With that said I'm certainly looking forward to making this this my full-time career. I can't for the opportunity to share my passion for learning and coding with others!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li nigelmsipa@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/nigel-msipa-02875595/') LinkedIn
        a.btn-link(href='https://github.com/nigelmsipa') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back