extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p Hello. Here's a collection of my completed projects so far. There's more to come. Thanks for visiting!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images_urls[0]}`, alt='default image')
            h5= `${project.name}`

